MyProject.xcodeproj/project.xcworkspace/xcuserdata/ilyafivb.xcuserdatad/UserInterfaceState.xcuserstate
MyProject/MyProject.xcodeproj/project.xcworkspace/xcshareddata
MyProject/MyProject.xcodeproj/project.xcworkspace/xcuserdata
MyProject/MyProject.xcodeproj/xcuserdata/ilyafivb.xcuserdatad
DisneyCharacters/DisneyCharacters.xcodeproj/xcuserdata/ilyafivb.xcuserdatad/xcschemes
DisneyCharacters/DisneyCharacters.xcodeproj/xcuserdata
DisneyCharacters/DisneyCharacters.xcodeproj/project.xcworkspace/xcshareddata
DisneyCharacters/DisneyCharacters.xcodeproj/project.xcworkspace/xcuserdata
DisneyCharacters/DisneyCharacters.xcodeproj/project.xcworkspace
DisneyCharacters/DisneyCharacters/StorageModel.xcdatamodeld/StorageModel.xcdatamodel
